<div  id="footer">
	<ul class="footer col-lg-12 text-center">
		<a href="https://twitter.com/HolyFamily_OFS" target="_blank">
			<li class="col-lg-4"><h2><i class="fa fa-twitter fa-2x col-xs-12"></i>    @HolyFamily_OFS</h2></li>
		</a>
		<a>
			<li class="col-lg-4"><h2><i class="fa fa-google fa-2x col-xs-12"></i>    holyfamily-ofs@gmail.com</h2></li>
		</a>
		<a id="map">
			<li class="col-lg-4">
				<h2>
					<i  class="fa fa-location-arrow fa-2x col-xs-12"></i>
					9300 Stone Wall Rd
					Manassas, VA 
				</h2>
			</li>
		</a>
	</ul>
</div>
