<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="troubadour-modal" tabindex="-1" role="dialog" aria-labelledby="Latest Troubadour" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
        	<i class="fa fa-times fa-1x"></i>
        </span></button>
        <h4 class="modal-title" id="myModalLabel">December 2014</h4>
      </div>
      <div class="modal-body">
        <iframe src="https://docs.google.com/viewer?srcid=0B2_Fhy2vPXWDS0V2UzRJRVJ6LUxBMWVhcmd5M2FWU20tV19J&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="100%" style="border: none;"></iframe>

      </div>
    </div>
  </div>
</div>